@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); /*'Secular One', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #002b36;
    color: #e3e8e9;
    min-width: 768px;
}

/* Inicio SPANS */
.wh {
    color: white;
}
.active {
    color: #39399B;
}
.active:hover {
    color: #03C903;
}
/* Fins SPANS */





/* Inicio grid */
.index-grid {
    display: grid;
    grid-template-areas: 
        "logo logo nav nav"
        "banner banner banner banner"
        "lang lang lang lang"
        "sugg sugg sugg sugg"
        "foot foot foot foot";
    /* grid-template-rows: 100px 1fr 1fr 75px; */
    /* grid-template-columns: 20% auto 10%; */
}
.lang-grid {
    display: grid;
    grid-template-areas: 
    "logo logo nav nav"
    "aside main main main"
    "aside sugg sugg sugg"
    "foot foot foot foot";
}
.contacto-grid {
    display: grid;
    grid-template-areas:
    "logo logo nav nav"
    "contac contac contac contac"
    "foot foot foot foot";
}
/* Fin grid */





/* Inicio HEADER */
.logo, nav {
    padding: 5px;
    background-color: rgba(0, 33, 43, 0.8);
    font-family: 'Courier New', Courier, monospace;
}
.logo {
    grid-area: logo;
    padding: 15px;
    padding-left: 50px;
}
.burger-menu {
    visibility: hidden;
    display: none;
}
nav {
    grid-area: nav;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}
nav li {
    list-style-type: none;
    margin: 5px;
}
nav li a:hover {
    color: #39399B;
    transition: 1s;
}
nav li a {
    text-align: center;
    text-decoration: none;
    color: #03C903;
    padding: 15px;
    font-size: 30px;
}
/* Fin HEADER */





/* Inicio BANNER */
.banner {
    grid-area: banner;
    background-image: url("../img/banner.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .banner_logos {
    width: 40%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.banner_logos img {
    width: 300px;
}
.banner_title {
    width: 60%;
    padding: 5%;
    overflow: hidden;
    flex-wrap: wrap;  
    justify-content: center; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.banner_title h1 {
    padding-left: 50px;
    font-size: 4rem;
    text-align: left;
}
.banner_title p {
    text-align: justify;
    padding-left: 10%;
}
/* Fin BANNER */





/* Inicio MAIN */
.languages {
    grid-area: lang;
}
.languages h2 {
    font-size: 60px; 
    text-align: center; 
    padding: 15px; 
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}
.languages-grid {
    display: grid;
    grid-template-areas: 
    "item item item"
    "item item item";
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}
.languages-grid article {
    height: 300px;
    background-color: #09404F;
    transition: all 1s;
    /* background: linear-gradient(#09404F, #0e4c5e); */ 
    border: 1px #28094F solid;
}
.languages-grid article:hover {
    background-color: #1e6477;
}
.languages-grid article div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.languages-grid article a img {
    width: 200px;
}
.languages-grid article h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Secular One', sans-serif;
}
/* Fin MAIN */





/* Inicio SUGGEST */
.index_suggest {
    /* background-color: #00212b; */
    grid-area: sugg;
    background-color: #032934;
    margin: 30px 0 30px 0;
    padding: 20px;
    text-align: center;
    border: 1px black dotted;
}
.index_suggest h3 {
    font-size: 40px;
    color: #1D973B;
}
.index_suggest p {
    font-size: 18px;
}
.index_suggest p a {
    text-decoration: none;
    /* color: #2E2D98; */
    color: #39399B;
}
/* Fin SUGGEST */





/* Inicio FOOTER  */
footer {
    grid-area: foot;
    width: 100%;
    background-color: #00212b;
    margin: 0 auto;
    text-align: center;
}
footer div {
    margin: 1rem;
}
footer p {
    font-size: 1.5em;
}
.redes {
    margin: 10px 0px 0px 0px;
}
.redes a {
    margin: 0px 20px 0px 20px;
}
/* Fin FOOTER */


/* RESPONSIVE 
576
768
1200/normal */


/* Inicio lenguages */
aside {
    grid-area: aside;
    display: inline-block;
    background-color: #043341;
    font-family: 'Courier New', Courier, monospace;
}
.main-leng-container {
    grid-area: main;
}

.indice {
    padding: 30px;
}
.indice p {
    color: #36a5c7;
}
.indice ul {
    list-style-type:square;
}
.indice ul li a{
    color: #7a01b3;
    text-decoration: none;
}
.main-leng-container {
    display: inline-block;
    width: 80%;
    padding: 50px;
}
.main-leng-container div {
    width: 200px;
    height: 300px;
    margin: 0 auto;
}
.main-leng-container div img {
    width: 200px;
}
.main-leng-container h2 {
    text-align: center;
    font-size: 80px;
    margin: 20px;
}
.main-leng-container h4 {
    font-size: 20px;
    color: #7a01b3;
}
.main-leng-container iframe {
    width: 100%;
}
/* Fin lenguages */




/* Inicio contacto */
.contacto {
    grid-area: contac;
    padding: 5%;
}
.contacto section {
    background-color: #002b36;
    padding: 60px;
}
.contacto-title {
    text-align: center;
    padding: 20px;
}
.contacto-title h3 {
    font-size: 60px;
    color: #7a01b3;
    margin: 10px;
}
.contacto-title p {
    font-size: 18px;
}
.contacto-title p a {
    text-decoration: none;
    color: #1D973B;
}
.contacto-form form {
    width: 400px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
.contacto-form form label {
    display: inline-block;
    width: 20%;
    margin: 5px;
}
.contacto-form form input {
    display: inline-block;
    width: 74%;
    background-color: #063541;
    color: #1D973B;
    font-family: 'Courier New', Courier, monospace;
}
.contacto-form textarea {
    width: 400px;
    background-color: #063541;
    color: #1D973B;
    font-family: 'Courier New', Courier, monospace;
}
.contacto-form .enviar {
    width: 101%;
    height: 50px;
    background-color: #330647;
    color: white;
    font-size: 20px;
}
/* Fin contacto */


@keyframes animation2 {
    0% {transform: translatex(-50px);}
    25% {transform: translatex(-40px);}
    50% {transform: translatex(-30px);}
    75% {transform: translatex(-20px);}
    80% {transform: translatex(-10px);}
}