@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*'Bebas Neue', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
/*'Secular One', sans-serif;*/
/*Parámetros*/
/*Inicio bootstrap*/
.nav-link {
  color: #03C903 !important;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  text-align: center; }
  .nav-link:hover {
    color: #39399B !important;
    transition: .8s; }

.active {
  color: #39399B !important; }

.navbar-collapse {
  justify-content: right; }

.col-lg-12 {
  padding: 0px !important; }

.main-index {
  background-color: #032934;
  padding-bottom: 2em; }
  .main-index h2 {
    font-size: 60px;
    text-align: center;
    padding-bottom: 2.5rem;
    text-decoration: underline;
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.main-index-row {
  max-width: 1200px;
  margin: 0 auto !important;
  padding-bottom: 2rem; }

/*Fin bootstrap*/
/*Inicio banner*/
.banner {
  grid-area: banner;
  background-image: url("../img/banner.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }

.banner_logos {
  width: 40%;
  padding: 5%;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .banner_logos img {
    width: 300px;
    animation-name: animation2;
    animation-duration: .5s; }

.banner_title {
  width: 60%;
  padding: 5%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace; }
  .banner_title h1 {
    padding-left: 50px;
    font-size: 4rem;
    text-align: left; }
  .banner_title p {
    text-align: justify;
    padding-left: 10%; }

/*Fin banner*/
/*Inicio opciones*/
.languages-grid {
  height: 300px;
  background-color: #09404F;
  transition: all 1s;
  /* background: linear-gradient(#09404F, #0e4c5e); */
  border: 1px #28094F solid;
  animation-name: animation;
  animation-duration: .5s;
  color: #fff; }
  .languages-grid:hover {
    background-color: #1e6477; }
  .languages-grid div {
    display: flex;
    justify-content: center;
    align-items: center; }
  .languages-grid a img {
    width: 200px; }
  .languages-grid h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: "Secular One", sans-serif; }

/*Fin opciones*/
/*Inicio suggest*/
.index_suggest {
  /* background-color: #00212b; */
  background-color: #032934;
  margin: 30px 0 0 0;
  padding: 20px;
  text-align: center;
  border: 2px black dotted;
  color: #fff; }
  .index_suggest h3 {
    font-size: 40px;
    color: #1D973B; }
  .index_suggest p {
    font-size: 18px; }
    .index_suggest p a {
      text-decoration: none;
      color: #39399B !important; }

/*Fin suggest*/
/*Inicio footer*/
footer {
  grid-area: foot;
  width: 100%;
  background-color: #00212b;
  margin: 0 auto;
  text-align: center;
  color: #fff; }
  footer div {
    margin: 1rem; }
  footer p {
    font-size: 1.5em; }

.redes {
  margin: 10px 0px 0px 0px; }
  .redes a {
    margin: 0px 20px 0px 20px; }

/*Fin footer*/
